
/* Picturefill, Sourceset */
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=0003f8c8-d8c7-4d1f-95ed-a15461eba017");

@font-face{
  font-family:"Futura W01 Medium";
  src:url("../Fonts/f0052336-792e-4fcf-8750-fe6d7d5dccba.eot?#iefix");
  src:url("../Fonts/f0052336-792e-4fcf-8750-fe6d7d5dccba.eot?#iefix") format("eot"),url("../Fonts/1b696b29-a6bd-4411-a50f-37fd8a209b36.woff") format("woff"),url("../Fonts/a3931c31-5998-4dbd-b7d5-d310e4ed3d60.ttf") format("truetype"),url("../Fonts/6779412d-2ea7-4f1a-acfd-f6a527baaee7.svg#6779412d-2ea7-4f1a-acfd-f6a527baaee7") format("svg");
}

@font-face{
  font-family:"GeorgiaProW02-Regular";
  src:url("../Fonts/6ff19380-2061-418b-af12-430bf8444e33.eot?#iefix");
  src:url("../Fonts/6ff19380-2061-418b-af12-430bf8444e33.eot?#iefix") format("eot"),url("../Fonts/978beb04-def5-4bb9-82da-026d4d197759.woff") format("woff"),url("../Fonts/50981f5e-9a51-4094-a17c-687c7388e6b0.ttf") format("truetype"),url("../Fonts/24682079-5fad-48af-8798-9cfa5fa6318c.svg#24682079-5fad-48af-8798-9cfa5fa6318c") format("svg");
}

/* Text Styling */
.t--futura {
  font-family: 'Futura W01 Medium';
  line-height: 0.8em;
}

.t--georgia {
  font-family:"GeorgiaProW02-Regular";
  font-size: 1.6em;
  line-height:1.4em;
}

.t--salutations {
  font-size: 1.5rem;
  line-height: 1.4em;
}

.t--introduction {
  padding-bottom: 2.2em;
  font-size: 1.9em;
}

.t--projecttitle {
  font-family: "Futura W01 Light";
  text-transform: uppercase;
  color: #fff;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  padding-bottom: 0.3em;
}

.t--projectsubtext {
  font-family: "Futura W01 Light";
  font-size: 1em;
  color: black;
  padding-bottom: 0.8em;
}

.t--projecttext {
  color: white;
  font-size: 1em;
  line-height: 1.5em;
  padding-bottom: 2em
}

/* Space Styling */
.padding-above--tinyl-- {
  padding-top: 2%;
}

.l--padding-above--small {
  padding-top: 3em;
}

.l--padding-above--medium {
  padding-top: 5em;
}

.l--padding-above--large {
  padding-top: 20%;
}

.l--padding-below--half-tiny {
  padding-bottom: 1%;
}

.l--padding-below--tiny {
  padding-bottom: 2%;
}

.l--padding-below--small {
  padding-bottom: 0.9em;
}

.l--padding-below--medium {
  padding-bottom: 10%;
}

.l--padding-below--large {
  padding-bottom: 1.4em;
}

.l--padding-r--small {
  padding-right: 5%;
}

.l--padding-r--medium {
  padding-right: 10%;
}

.l--padding-r--large {
  padding-right: 20%;
}

.l--padding-l--xs {
  padding-left: 3%;
}

.l--padding-l--small {
  padding-left: 5%;
}

.l--padding-l--medium {
  padding-left: 10%;
}

.l--padding-l--large {
  padding-left: 20%;
}

.l--padding-l--xl {
  padding-left: 25%;
}


/* Background color styling */

.color-block--yellow {
  background: #FAE084;
  width:100%;
}


.color-block--grey {
  background: #818181;
  margin-top: -3.5em;
}

.zigzag {
  position: relative;
  width: 100%;
}
.zigzag:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
}

.color-block--water {
  background-color: #00C5D1;
  padding-top: 2em;
  padding-bottom: 2em;
}

.color-block--water:before {
  background:
  linear-gradient(
    45deg, transparent 33.333%,
    #00C5D1 33.333%, #00C5D1 66.667%,
    transparent 66.667%
    ),
  linear-gradient(
    -45deg, transparent 33.333%,
    #00C5D1 33.333%, #00C5D1 66.667%,
    transparent 66.667%
    );
  background-size: 20px 40px;
}

footer {
  background-color: #00C5D1;
}

/* Widgets */

.socialicons {
  margin: 0 auto;
  width: 200px;
}

.socialicons--twitter {
 width: 60px;
 height: 60px;
 margin-right: 5px;
 display: inline-block;
 background: url("../img/socialicons/twitter.svg") no-repeat center;
 background-size: 45px 45px;
 float: left;
}

.socialicons--instagram {
  width: 60px;
  height: 60px;
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
  background: url("../img/socialicons/instagram.svg") no-repeat center;
  background-size: 40px 40px;
  float: left;
}

.socialicons--github {
  width: 60px;
  height: 60px;
  margin-left: 5px;
  display: inline-block;
  background: url("../img/socialicons/octocat.svg") no-repeat center;
  background-size: 50px 50px;
  float: left;
}

/* Image Styling */

.landscape--paperboats {
  width: 150px;
  height: 150px;
  background: url("img/paperboats.svg") no-repeat center;
  background-size: 150px 150px;
}


hr {
  border: none;
  border-bottom: 1px;
  border-top: medium double #fff;
  color: #fff;
  text-align: center;
  width: 50%;
}

/* Content Styling */

.hello-divya {
  text-align: left;
  margin: 0 auto;
  width: 70%;
  line-height: 1.3em;
  font-size: 0.5em;
  position: relative;
}

.portfolio--apprentices {
  padding-top: 3.5em;
  padding-bottom: 2em;
  width: 95%;
  margin: 0 auto;
}

.portfolio--ubiqi {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 95%;
  margin: 0 auto;
}

.portfolio--images {
  width: 100%;
  margin: 0 auto;
}

figure img {
  padding-bottom: 1.4em;
}

img {
  width: 95%;
}

.content {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.description {
  width: 78%;
  text-align: center;
  margin: 0 auto;
}

.copy {
  text-align: center;
  padding-top: 1em;
}

/* Ribbon Styling */

@import url(http://fonts.googleapis.com/css?family=Arapey:400italic,400);

.ribbon {
  width: 50%;
  position: relative;
  background: #00C5D1;
  color: #000;
  font-family: 'Arapey', sans-serif;
  text-align: center;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),
  inset 0px 0px 20px rgba(0,0,0,0.1),
  0px 1px 1px rgba(0,0,0,0.4);
  padding: 1em 2em;
  margin: 2em auto 3em;
}

.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #00C5D1;
 box-shadow:0px 1px 0px rgba(0,0,0,0.4);
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}

.ribbon-content:before, .ribbon-content:after {
  content: "";
  position: absolute;
  display:block;
  border-style: solid;
  border-color: #0499A2 transparent transparent transparent;
  bottom: -1em;
}

.ribbon .ribbon-content:before {
  left:0;
  border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}

.protector {
  position: relative;
  z-index: 1;
}


/* Clearfix */
.clearfix:after{
  clear: both;
  display: table;
  content:"";
}

/* Media Queries */
@media screen and (min-width:40em){
  figure {
    display: block;
    float:left;
    width: 50%;
  }

  .hello-divya {
    width: 55%;
  }

  .description {
    width: 70%;
  }

}

